.grad-button {
    background: #7C94FF;
    border-radius: 5px;
    padding: 11px 27.67px 16px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    transition: box-shadow .3s ease;

}

.grad-button:hover {
    box-shadow: 0 0 15px #7C94FF;
}