.lead__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
    letter-spacing: 0.07em;
    color: #001529;
    margin: 180px 0 65px;
}



@media screen and (max-width: 905px) {
    .lead__title {
        font-size: 40px;
    }
}