.section-desc {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 53.2px;
    letter-spacing: 0.07em;
}

@media screen and (max-width: 905px) {
    .section-desc {
        font-size: 36px;

    }

}